* {
    -fx-font-size: 13;
    -fx-font-family: Ubuntu, Arial, sans-serif;
    -fx-font-smoothing-type: gray;
}

#container, #settingsPane {
    -fx-pref-height: 650;
    -fx-background-color: #e6e6e6;
}

#container {
    -fx-pref-width: 900;
}

#settingsPane {
    -fx-pref-width: 500;
    -fx-translate-x: -480px;
}

#settingsVisualHint {
    -fx-pref-height: 650;
    -fx-pref-width: 20;
    -fx-translate-x: 480px;
    -fx-cursor: hand;
    -fx-border-color: transparent #cdcdcd transparent transparent;
    -fx-border-width: 1px;
    -fx-background-image: url("/images/right_arrow.png");
    -fx-background-size: 15 100;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

#settingsTitle, #onlineMetadataTitle {
    -fx-font-size: 14;
}

#settings-container {
    -fx-padding: 10 25 0 25;
}

.set-path-container {
    -fx-padding: 5 0 0 0;
}

#main-buttons-container {
    -fx-padding: 25;
}

#scanButton {
    -fx-background-color: linear-gradient(to top right, #0094ff, #6a95ab);
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-pref-height: 50;
    -fx-pref-width: 215;
    -fx-text-alignment: center;
}

#scanButton:hover {
    -fx-background-color: linear-gradient(to top right, #0077cc, #4f6f80);
}

#moveButton {
    -fx-pref-height: 50;
    -fx-pref-width: 215;
}

#messageText {
    -fx-pref-height: 50;
    -fx-pref-width: 375;
    -fx-pref-rows: 2;
    -fx-wrap-text: true;
}

#messageText .content {
    -fx-background-color: #E6E6E6;
    -fx-pref-width: 370;
    -fx-border-width: 1px;
}

.set-path-button {
    -fx-alignment: center;
    -fx-pref-height: 30;
    -fx-pref-width: 140;
}

#tvShowPathTextField {
    -fx-pref-height: 30;
    -fx-pref-width: 300;
}

#moviePathTextField {
    -fx-pref-height: 30;
    -fx-pref-width: 300;
}

#move-container {
    -fx-pref-height: 100;
    -fx-pref-width: 500;
    -fx-alignment: center;
}

#downloadsPathTextField {
    -fx-pref-height: 30;
    -fx-pref-width: 300;
}

#main-container {
    -fx-pref-width: 880;
    -fx-translate-x: 20;
}

#nameCol {
    -fx-pref-width: 250;
}

#typeCol {
    -fx-pref-width: 200;
}

#outputCol {
    -fx-pref-width: 410;
}

#tableView {
    -fx-pref-height: 550;
    -fx-padding: 0;
}

#tableView .column-header-background {
    -fx-border-width: 2px;
}

#tableView .column-header, .table-view .filler {
    -fx-size: 30px;
    -fx-border-width: 0 0 1 0;
}

.video-metadata-search-button {
    -fx-text-fill: white;
    -fx-background-color: #01d277;
    -fx-cursor: hand;
}

.video-metadata-container {
    -fx-cursor: hand;
    -fx-background-color: #081c24;
    -fx-border-color: #01d277;
}

.video-metadata-container:hover {
    -fx-border-color: white;
}

.video-info-title {
    -fx-font-weight: bold;
    -fx-fill: white;
}

.video-info-description {
    -fx-fill: #ffffff;
}

.video-info-cast {
    -fx-fill: #01d277;
}

.video-info-container {
    -fx-padding: 5;
}

#opaqueRegion {
    -fx-background-color: #00000099;
    visibility: hidden;
}

#moveProgress {
    visibility: hidden;
    -fx-max-height: 300;
    -fx-max-width: 300;
}